<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Preview</title>
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="container">
<header class="header">
<div class="logo-header">
<img src="/assets/logo.jpg" alt="PCP Logo" class="logo">
<div class="title-group">
<h1>पीसीपीसी सायबर क्राईम रिपोर्टिंग पोर्टल</h1>
<h2>PCPC Cyber Crime Reporting Portal</h2>
</div>
<img src="/assets/home.jpg" alt="home" class="home">
</div>
</header>

<h2><i class="fas fa-eye"></i> Review Your Information</h2>
<div id="searchForm" class="form-container">

<div class="info-section">
<h3><i class="fas fa-user"></i> General Info</h3>
<div id="general-info-preview" class="preview-content"></div>
</div>

<div class="info-section">
<h3><i class="fas fa-user-secret"></i> Suspect Info</h3>
<div id="suspect-info-preview" class="preview-content"></div>
</div>

<div>
<button id="edit-info" class="submit-btn">
<i class="fas fa-edit"></i> Edit Information
</button>
<button id="submit-info" class="submit-btn">
<i class="fas fa-check-circle"></i> Submit
</button>
</div>
</div>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>